body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.header {
    width: 40%;
    float: left;
    margin-left: 5%;
}
.image {
    width: 40%;
    float: left;
    margin-left: 5%;
    
}
.image img{
    width: 100%;
   

}
